@model ESRGC.Broadband.ETL.CensusBlock.Models.LoginModel
@{
    ViewBag.Title = "Login";    
}
@section header{
    @Html.Partial("HomeHeader")
}
<div class="row-fluid">
    <div class="span6 offset3 well security">
        <fieldset>
            <legend>Sign in <small></small></legend>
            @Html.ValidationSummary()
            @Html.Partial("LoginForm", Model)
        </fieldset>
    </div>
</div>
