@*This partial view must be used in a page that uses bootstrap css*@

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Upload</th>
            <th>Download</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>-</td>
            <td>Less than or equal to 200 kpbs</td>
        </tr>
        <tr>
            <td>2</td>
            <td>-</td>
            <td>Greater than 200 kbps and less than 768 kbps</td>
        </tr>
        <tr>
            <td>3</td>
            <td>3</td>
            <td>Greater than or equal to 768 kbps and less than 1.5 mbps</td>
        </tr>
        <tr>
            <td>4</td>
            <td>4</td>
            <td>Greater than or equal to 1.5 mbps and less than 3 mbps</td>
        </tr>
        <tr>
            <td>5</td>
            <td>5</td>
            <td>Greater than or equal to 3 mbps and less than 6 mbps</td>
        </tr>
        <tr>
            <td>6</td>
            <td>6</td>
            <td>Greater than or equal to 6 mbps and less than 10 mbps</td>
        </tr>
        <tr>
            <td>7</td>
            <td>7</td>
            <td>Greater than or equal to 10 mbps and less than 25 mbps</td>
        </tr>
        <tr>
            <td>8</td>
            <td>8</td>
            <td>Greater than or equal to 25 mbps and less than 50 mbps</td>
        </tr>
        <tr>
            <td>9</td>
            <td>9</td>
            <td>Greater than or equal to 50 mbps and less than 100 mbps</td>
        </tr>
        <tr>
            <td>10</td>
            <td>10</td>
            <td>Greater than or equal to 100 mbps and less than 1 gbps</td>
        </tr>
        <tr>
            <td>11</td>
            <td>11</td>
            <td>Greater than or equal to 1 gbps</td>
        </tr>
    </tbody>
</table>