@{
    ViewBag.Title = "Contact";
}
@section header {
    <h3>@ViewBag.Title <i class="icon-envelope"></i></h3>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("index", "Home")">Home</a><span class="divider">/</span>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
<div class="row-fluid">
    <div class="span12 well">
        <div>
            <h3>Phone</h3>
            <p><span class="label">Main:</span> <span>410-546-2877</span>
            </p>
        </div>
        <div>
            <h3>Email</h3>
            <p><span class="label">Support:</span> <span>
                <a href="mailto:esrgc@salisbury.edu">esrgc@salisbury.edu</a></span>
            </p>
            <p><span class="label">General:</span> <span>
                <a href="mailto:General@example.com">general@salisbury.edu</a></span>
            </p>
        </div>
        <div>
            <h3>Address</h3>
            <p>
                1101 Camden Ave<br />
                Salisbury, MD 21804 
            </p>
        </div>
        <div>
            <h3>Website</h3>
            <a href="http://www.esrgc.org" target="_blank">www.esrgc.org</a>
        </div>
    </div>
</div>
