@{
    ViewBag.Title = "Home";
}

@section header{
    <div class="hero-unit">
        <h1>Maryland Broadband</h1>
        <p>
            ETL Data Upload Tool for Census Block
        </p>
        <p><small>Upload broadband service data for Census block with excel files.</small></p>
    </div>
}
<!--Content-->
<div class="row-fluid">
    <div class="well span12">
        <strong>Before uploading your data, please note that: </strong>
        <ul>
            <li>
                Uploading file is in excel format (xls or xlsx).
            </li>
            <li>
                Data must meet NTIA data requirements. See this 
                <a target="_blank" href="http://www.broadbandmap.gov/blog/wp-content/uploads/2011/02/Transfer_Model_Tech_Spec.html#FeatureClassBB_Service_CensusBlock">
                    link.
                </a>                
            </li>
            <li>
                Your data must have the same number of columns/fields as the NTIA data model.
            </li>
            <li>
                Column/field names can differ from NTIA model. Data fields are mappable after a data file is uploaded.
            </li>
        </ul>
        <p>
            The app will allow column mapping once data is uploaded. 
            It then verifies your data based on NTIA data requirements. 
            If any error occurs during data mapping process you must fix the error and upload a new file.
        </p>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 form-actions">
        <a href="@Url.Action("UploadFile", "Upload")" class="btn btn-primary">
            Start Upload <i class="icon-white icon-arrow-right"></i>
        </a>
    </div>
</div>
