@{
    ViewBag.Title = "Home";
}

@section header{
    <div class="hero-unit">
        <h1>
            Maryland Broadband</h1>
        <p>
            ETL Data Upload Tool for Census Block
        </p>
        <p><small>some more description goes here</small></p>
    </div>
}
<!--Content-->
<div class="row-fluid">
    <div class="well span12">
        <h4>Instructions</h4>
        <ol>
            <li>
                asldkfj lfkjw rwoiyr aoihovnda nfeoina cvoihwnea oiadhf eoifha oh doaihefoaneo ahfuhebiwb
                abfiub v,wehoih avoeih this veiand oeijar dkvha kiaer vkaheroi ivhoihc eihfhia fei
                f ivenvieoahdh feov
            </li>
            <li>
                Some more instruction and steps
            </li>
            <li>
                Someone just needs to put something here to instruct people
            </li>
        </ol>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 form-actions">
        <a href="@Url.Action("UploadFile", "Upload")" class="btn btn-primary">
            Start Upload <i class="icon-white icon-arrow-right"></i>
        </a>
    </div>
</div>
