<div class="panel">
    <h3 class="panel-title">Ticket</h3>
    <div class="panel-content">
        <ul class="overview-list">
            <li><a href="">Total</a> <span class="pull-right">@ViewBag.NumberOfTicket</span></li>
            <li><a href="">Active</a> <span class="pull-right">@ViewBag.ActiveTickets</span></li>
            <li><a href="">Expired</a> <span class="pull-right">@ViewBag.ExpiredTickets</span></li>
        </ul>
    </div>
</div>