<div class="panel">
    <h3 class="panel-title">User</h3>
    <div class="panel-content">
        <ul class="overview-list">
            <li><a href="#">Total</a> <span class="pull-right">@ViewBag.Total</span></li>
            <li><a href="#">Admin</a> <span class="pull-right">@ViewBag.Admins</span></li>
            <li><a href="#">User/provider</a> <span class="pull-right">@ViewBag.Users</span></li>
            <li><a href="#">Online</a> <span class="pull-right">@ViewBag.Online</span></li>
        </ul>
    </div>
</div>