<!--Partial view for admin task-->
@*<div class="panel">
    <h4 class="panel-title">Admin tasks</h4>
    <div class="panel-content">*@
        <ul class="nav nav-list">
            <li><a href="@Url.Action("Index")"><i class="icon-tasks"></i> Dashboard</a></li>
            <li class="nav-header">Submission</li>
            <li><a href="@Url.Action("CreateTicket")"><i class="icon-plus"></i> Create a new ticket</a></li>
            <li class=""><a href="@Url.Action("Ticket")"><i class="icon-list"></i> Manage tickets</a></li>                        
            <li class=""><a href="@Url.Action("Submission")"><i class="icon-folder-close"></i> Manage submissions</a></li>
            <li class="nav-header">Application</li>
            <li class=""><a href="#"><i class="icon-plus"></i> Create an account</a></li>
            <li class=""><a href="#"><i class="icon-user"></i> Manage users</a></li>                        
        </ul>  
   @* </div>
</div>*@
