<!--Partial view for admin task-->
@*<div class="panel">
    <h4 class="panel-title">Admin</h4>
    <div class="panel-content">
        
    </div>
</div>
*@
<ul class="nav nav-list">
    <li class="nav-header">Tasks</li>
    <li class=""><a href="#">List</a></li>
    <li><a href="#">Extract Data</a></li>
</ul>