@*This partial view must be used in a page that uses bootstrap css*@

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Code</th>
            <th>Provider Types</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Broadband provider as described in the NOFA</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Reseller</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Other</td>
        </tr>        
    </tbody>
</table>