@*This partial view must be used in a page that uses bootstrap css*@

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Technology Code</th>
            <th>Transmission Technologies</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10</td>
            <td>Asymmetric xDSL</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Symmetric xDSL</td>
        </tr>
        <tr>
            <td>30</td>
            <td>Other Copper Wireline</td>
        </tr>
        <tr>
            <td>40</td>
            <td>Cable Modem - DOCSIS 3.0</td>
        </tr>
        <tr>
            <td>41</td>
            <td>Cable Modem - Other</td>
        </tr>
        <tr>
            <td>50</td>
            <td>Optical Carrier/Fiber to the End User</td>
        </tr>
        <tr>
            <td>60</td>
            <td>Satellite</td>
        </tr>
        <tr>
            <td>70</td>
            <td>Terrestrial Fixed Wireless - Unlicensed</td>
        </tr>
        <tr>
            <td>71</td>
            <td>Terrestrial Fixed Wireless - Licensed</td>
        </tr>
        <tr>
            <td>80</td>
            <td>Terrestrial Mobile Wireless</td>
        </tr>
        <tr>
            <td>90</td>
            <td>Electric Power Line</td>
        </tr>
        <tr>
            <td>0</td>
            <td>All other</td>
        </tr>
    </tbody>
</table>